$white: #fff;
$black: #000;

$blue-100: #ccdfff;
$blue-200: #99bffe;
$blue-300: #75a8ff;
$blue-500: #0a66ff;
$blue-600: #0058eb;
$blue-700: #004ccc;
$blue-800: #003da3;


$primary: $blue-500;
$primary-light: $blue-100;
$primary-hover: $blue-700;
$primary-focus: $blue-800;
